.top{
    margin: 60px 0 200px 0;
}
.header_container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.header{
    color: black;
    font-size: min(8vw,80px);
    text-align: center;
}

.search{
    display: flex;
    align-items: center;
    margin-top: 2.8vw;
    width: 1200px;
    min-width: 340px;
    border-radius: 1px;
    border: 0px solid white;
}

.search_input{
    width: 100%;
    padding: 12px;
    border: 0.5px solid lightgrey;
    border-radius: 1px;
    font-size: 20px;
    color: var(--nofocus-font-grey);
}

.top_description{
    display: flex;
    justify-items: space-between;
    align-items: left;
}

.benefits{
    align-items: center;
}

ul{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    font-size: min(6vw,22px);
}
ul > span{
    display: flex;
    align-items: center;
    margin: 3px 0;
}

.benefits, .quick_call_button{
    display: flex;
    flex-direction: column;
    justify-items: left;
    width: 50%;
    margin-top: 100px;
}

.quick_call_button{
    align-items: center;
}

.call_button_text{
    margin-top: 10px;
    font-size: min(6vw,22px);
}

.ayurveda{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 130px 0;
    background-color: rgb(248, 242, 232);
}

.ayur_intro_text{
    width:  50%;
    font-size: min(3vw, 20px);
}

.ayur_text{
    margin-top: 130px;
    float: right;
}

.read_more{
    color: blue;
}

.ayurveda_header{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 50%;
    font-family: Georgia;
}

.ayurveda_header_textA{
    font-size: min(14vw, 90px)
}

.ayurveda_header_textB{
    font-size: min(16.5vw, 120px);
    margin-left: 7%;
}


.home_testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 120px 0;
}


@media (max-width: 1200px){
    .search{
        width: 100%;
    }
    .ayurveda{
        flex-direction: column-reverse;
        padding: 110px 10% 110px 20%;
    }
    .ayur_intro_text, .ayurveda_header{
        width: 100%;
    }

    .ayur_text{
        margin: 30px 0;
    }
}

@media (max-width: 900px) and (min-width: 625px){
    .benefits, .quick_call_button{
        margin-top: 60px;
    }
    .call_button_text{
        width: 280px;
    }
    .ayurveda{
        padding: 110px 0;
    }

    .ayurveda_header{
        padding-left: 5%;
    }

    .ayur_intro_text{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .ayur_text{
        float: none;
    }
}

@media (max-width: 625px){
    .top{
        margin-bottom: 120px;
    }
    .search{
        position: fixed;
        top: 57px;
        z-index: 1;
    }

    .top_description{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .benefits, .quick_call_button{
        width: 100%;
        margin-top: 40px;
    }

    .ayurveda{
        padding: 110px 0;
    }

    .ayurveda_header_textA{
        padding-left: 20px;
    }
    
    .ayurveda_header_textB{
        margin: 0;
        padding-left: 50px;
    }
    .ayur_intro_text{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .ayur_text{
        float: none;
    }
}