:root {
  --logo-green: #59ba47;
  --light-hyperlink-green: #297db6;
  --dark-hyperlink-green: #1474b4;

  --header-font-white: #cccccc;
  --paragraph-font-grey: #b4b5b7;
  --nofocus-font-grey: #75777a;

  --sidebar-black: #16181d;
  --searchbar-black: #1a1b20;
  --background-general: white;
  --input-grey: #2d2f36;

  --attention-red: #c10606;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  background-color: var(--background-general);
} 

a{
  text-decoration: none;
  color: inherit;
}

.empty_top_space{
  height: 72px;
}


@import './App.css';
@import './components/Navbar/navbar.css';
@import './components/home/home.css';